services:
  # --- MAIN DATABASE (choose one) ---
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - ../data/mongo_db:/data/db
    networks:
      - infosys-net

  # --- AUTH SERVICE (Python + SQLite) ---
  auth-service:
    build:
      context: ../src/auth_service
    container_name: auth_service
    volumes:
      - ../src/auth_service:/app
      - ../data/sqlite:/app/data
    environment:
      - DB_PATH=/app/data/auth.db
    ports:
      - "5000:5000"        # Flask port
    depends_on:
      - mongo
      - redis
    networks:
      - infosys-net

  # --- PROMETHEUS ---
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./configs/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    networks:
      - infosys-net
    depends_on:
      - redis_exporter

  # --- GRAFANA ---
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - infosys-net
  
  # --- STRESSER ---
  # stresser:
  #   build:
  #     context: ../src/db_stresser       
  #   container_name: db_stresser
  #   depends_on:
  #     - mongo
  #   volumes:
  #     - ../src/db_stresser/config.yml:/app/config.yml:ro
  #   networks:
  #     - infosys-net
  
  crm-service:
    build:
      context: ../src/crm_service
      dockerfile: Dockerfile
    container_name: crm_service
    ports:
      - "5001:5001"
    networks:
      - infosys-net
    depends_on:
      - auth-service
      - mongo

  redis:
    image: redis:7
    container_name: redis
    ports: 
      - "6379:6379"
    networks:
      - infosys-net

  redis_exporter:
    image: oliver006/redis_exporter:latest
    environment:
      - REDIS_ADDR=redis:6379
    ports:
      - "9121:9121"
    depends_on:
      - redis
    networks:
      - infosys-net
      

volumes:
  grafana_data:

networks:
  infosys-net:
    driver: bridge
