version: "3.8"

services:

  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    command: ["--bind_ip_all"]  
    networks:
      - infosys-net
    volumes:
      - ../data/mongo_db:/data/db
    healthcheck:
      test: ["CMD-SHELL", "mongosh --quiet --eval \"db.adminCommand({ ping: 1 })\" >/dev/null 2>&1 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongodb-exporter:
    image: percona/mongodb_exporter:0.40.0
    container_name: mongodb-exporter
    restart: always
    ports:
      - "9216:9216"
    depends_on:
      - mongo
    networks:
      - infosys-net
    command:
      - "--mongodb.uri=mongodb://mongo:27017"
      - "--collect-all" 

  auth-service:
    build:
      context: ../src/auth_service
    container_name: auth_service
    volumes:
      - ../data/sqlite:/app/data
    ports:
      - "5000:5000"
    depends_on:
      - redis
    networks:
      - infosys-net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./configs/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    networks:
      - infosys-net
    depends_on:
      - redis_exporter

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - infosys-net

  crm-service:
    build:
      context: ../src/crm_service
      dockerfile: Dockerfile
    container_name: crm_service
    restart: always
    ports:
      - "5001:5001"
    networks:
      - infosys-net
    depends_on:
      - auth-service
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/crm_db 

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - infosys-net

  redis_exporter:
    image: oliver006/redis_exporter:latest
    environment:
      - REDIS_ADDR=redis:6379
    ports:
      - "9121:9121"
    depends_on:
      - redis
    networks:
      - infosys-net
  
  db_stresser:
    build:
      context: ../src/db_stresser  # path to folder containing Dockerfile & stresser.py
    container_name: db_stresser
    depends_on:
      - auth-service
      - crm-service
    networks:
      - infosys-net
    environment:
      - AUTH_URL=http://auth_service:5000
      - CRM_URL=http://crm_service:5001
      - WORKERS=5
      - TARGET_OPS_PER_SEC=10
    restart: always


volumes:
  grafana_data:

networks:
  infosys-net:
    driver: bridge
